body {
    font-family: sans-serif;
  }

label {
  padding: 2%;
}

div {
  margin: 2%;
  align-items: center;
}

button {
  margin-left: 180px;
}

h1 {
  size: 500px;
  margin-left: 10%;
  padding: 2%;
  font-weight: 20px;
  font-family: "Times New Roman", Times, serif;
}